@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");

body {
  font-family: "Open Sans", sans-serif;

    background: linear-gradient(
      to right,
    rgba(41, 84, 202, 0.308),
    rgba(127, 163, 211, 0.041),
    rgba(60, 162, 175, 0.151),
        rgba(255, 255, 255, 0.329),
            rgba(24, 98, 117, 0.062)

  );
  /* display: flex;
      justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; */
}

/* .header{
  background-image: url('/images/HEAD.png');
  background-image: co;
} */

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.desc {
  margin-top: -38%;
  margin-bottom: 500px;
  margin-left: 200px;
}

#vv {
  font-size: 3em;
  /* font-family: Alice; */
  display: inline-block;
  background: linear-gradient(
    to right,
    rgb(240, 240, 240),
    rgba(255, 255, 255, 0.356),       rgba(189, 134, 175, 0.329),


    rgb(95, 145, 156)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textFade 11s linear infinite;
}
/* @keyframes textFade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

.pp {
  font-size: 1.8em;
  display: inline-block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.329),
    rgb(111, 145, 153),
    rgba(189, 134, 175, 0.329)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textFade 11s linear infinite;
}

nav {
  position: relative;
  margin-top: -51%;
  margin-left: 740px;
  margin-bottom: 550px;
  width: 590px;
  height: 50px;
  background: hsla(197, 17%, 41%, 0);
  border-radius: 8px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(224, 224, 224, 0.233);
}
nav a {
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(163, 192, 209);
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation {
  position: absolute;
  height: 100%;
  /* height: 5px; */
  top: 0;
  /* bottom: 0; */
  z-index: 0;
  background: #949be054;
  border-radius: 8px;
  transition: all 0.5s ease 0s;
}
nav a:nth-child(1) {
  width: 100px;
}
nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}
nav a:nth-child(2) {
  width: 110px;
}
nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}
nav a:nth-child(3) {
  width: 100px;
}
nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}
nav a:nth-child(4) {
  width: 160px;
}
nav a:nth-child(4):hover ~ .animation {
  width: 160px;
  left: 310px;
}
nav a:nth-child(5) {
  width: 120px;
}
nav a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 470px;

}

/* category */
.category img{
  width: 250px;
  height: 200px;
  /* text-align: center; */
}
.category h1{
  color:rgb(28, 66, 64);
  font-size: 22px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  /* text-align: center; */


}
.category {
  text-align: center;
  display: inline-block;
  margin: 30px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.301);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  overflow: hidden;
}
/*
.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 4%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.356), transparent);
  animation: lightPass s linear infinite;

@keyframes lightPass {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.category:hover::before {
  animation: none;
} */


.category:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
.allcat{
  margin-top: -250px;
}
/* category */

.infolist{
  width:300px;
}
.homeinfo{
  margin-top: 200px;
  margin-left: 100px;
}

.homeinfo h1{
  /* margin-top: 80px; */
  /* padding-top: 60px; */
margin-bottom: 60px;
  font-family:Cochin, Georgia, Times, 'Times New Roman', serif;

color: rgb(12, 13, 17);
}

.infolist ul {
  list-style-type: none;
  padding: 0;
  /* margin-top: 70px; */
}

.infolist li {
  margin-bottom: 10px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.438);

}
.homeinfo img{
  margin-left: 48%;
  margin-top:-700px;
  display: inline-block;
}


.toprated {
  width: 800px;
  height: 700px;
  text-align: center;
  display: inline-block;
  margin-left: 300px; /* lowercase 'px' */

  background-color: rgba(226, 211, 211, 0.534);

  position: relative;
  overflow: hidden;
}

.toprated::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width:100%;
  height: 100%;
  background: linear-gradient(to right, transparent,
  rgba(255, 255, 255, 0.356), transparent);
  animation: lightPass 4s linear infinite;

@keyframes lightPass {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.toprated:hover::before {
  animation: none;
}}
